

/*
    Created on : 07/08/2017, 10:29:04
    Author     : f8940147
*/

/*
    Início da formatação do estilo da página
*/
.cabecalho {
    height: 90px;
    width: 900px;
    background-image: linear-gradient(#40668C 10%, #003366);
}

.geral {
    width: 805;
    height: auto;
    overflow: hidden;
}

.logoAndName{
    padding-top:10px;
    padding-left:10px;
    width: 200px;
    height: 40px;
    overflow: hidden;
}

.nomezinho{

    padding-left:10px;
    width: 500px;
    height: px;
    overflow: hidden ;
    position: absolute;
    z-index:1;
    margin-left:5px;
    font-size:10px;

}

.principal{

    padding-left:10px;
    width: 420px;
    height: 60px;
    overflow: hidden ;
    position: absolute;
    z-index:1;
    margin-left:300px;
    font-size:40px;
    font-color: white;
    margin-top:27px;

}

#interna{
    text-align: right;
    color: #ffffff;
    padding-right: 10px;
    padding-left: 830px;
    position: absolute;
    left: 5px;
    font-size: 15px;
    margin-right: 5px;
    text-align: right;

}

.esq{
    width:130px;
    text-align: right;
    float: left;
}

.dir{

    width:300px;
    margin-left:5px;
    text-align: left;
    float: left;

}

#2PerJuros{
    width:400px;
    padding-left: 200px;
    position: relative;
    margin-left:100px;
    text-align: right;
    float: right;
}

.fonte-tamanho{
    font-size: 13px !important; 
}

.lateral{
    float: left;
    width: 40px;
    margin-left:0px;
    margin-top: 0px;
    height: auto;
    position: absolute;
    /*background-color: #29383f;*/
    /*overflow-y: hidden;*/
    /*overflow: hidden;*/
    visibility: inherit;
}

.titulo{
    color: #0160A9;
    font-size: 12pt;
}


/*
 * Alterações novas 01/09/2017
 *
 * Criação e formatação dos botões.
 *
 * Samuel Dutra F8940147
 *
 */

.button{
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px 2px;
    cursor: pointer;
    background-color: #0160A9;
    border-radius: 5px;
    width: 140px;
    height: 40px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:active {
    /*  background-color: #3e8e41;
      box-shadow: 0 5px #666;*/
    transform: translateY(2px);
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#btnCalcular span:after{
    font-family: FontAwesome;
    content: '\f1ec';
}

#btnGeraPDF span:after{
    font-family: FontAwesome;
    content: '\f1c1';
}

#btnNovoCalculo span:after{
    font-family: FontAwesome;
    content: '\f067';
}

#btnVoltar span:after{
    font-family: FontAwesome;
    content: '\f0e2 ';
}

#btnGravar span:after{
    font-family: FontAwesome;
    content: '\f06d ';
}

.button span:after {

    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.navbar-cor-bb {
  background-color: #182A45;
  border-color: transparent;
}

.titulo{
    color: #0160A9;
    font-size: 12pt;
}

.table__scroll {
    height: 600px !important;
    overflow-x: auto !important; 
    overflow-y: auto !important;
}

.recipe {
    padding: 1em;
}

.recipe__title {
    margin-top: 0;
}

.recipe__info {
    vertical-align: top;
    text-align: right;
    padding: 0 1em 0 0;
    margin: 0 1.3em 0 0;
    font-weight: bold;
    color: #454545;
    border-right: 1px dotted #EEE;
    width: 300px;
    float: left;
}

.recipe__ingredients {
    float: left;
}

.recipe-table {
    position: relative;
    padding: 1em;
    border: 1px solid #DDD;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    z-index: 10;
}

.recipe-table__cell {
    vertical-align: top;
    padding: 3px 5px;
}

.recipe__text-field {
    margin: 0;
    padding: .45em 0.92em;
    font-size: 1em;
    line-height: 1.4;
    color: #555555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-left: 1px solid #CCC;
}

.adiciona-linha-tabela {
    margin-top: 0;
    position: relative;
    border-top: 1px solid #EEE;
    z-index: 8;
}

.adiciona-linha-tabela-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    left: 0;
    width: 4em;
    margin: 0 auto;
    -webkit-transition: all .2s easy-in;
    transition: all .2s easy-in;
    text-align: center;
    opacity: 0.5;
    color: #fff;
    border: 1px solid #16A085;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    background: #337ab7;
    height: 1.5em;
    line-height: 1.5em;
}

.linha-adicionada {
     line-height: 1.4;
}     

.recipe-table__add-row-btn:hover {
    opacity: 1;
}

.recipe-table__del-row-btn {
    cursor: pointer;
    display: inline-block;
    padding: .45em 0.92em;
    font-size: 1em;
    line-height: 1.4;
    border: 1px solid #F39C12;
    color: #F39C12;
    text-decoration: none;
    transition: all .3s;
    text-align: center;
    background-color: #fff;
}

.recipe-table__del-row-btn:hover {
    background: #F39C12;
    color: #fff;
}

.drag-handler {
    width: 1.4em;
    position: relative;
    background-color: #E4E6EB;
    background-image: linear-gradient(45deg, #E4E6EB, #E4E6EB 2px, #fff 2px, #fff 4px, #E4E6EB 4px, #E4E6EB 9px, #fff 9px, #fff 11px, #E4E6EB 11px, #E4E6EB 16px, #fff 16px, #fff 18px, #E4E6EB 18px, #E4E6EB 22px);
    background-size: 10px 20px;
    cursor: move;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

.drag-handler:active {
    background-image: linear-gradient(45deg, #bab86c, #bab86c 2px, #fff 2px, #fff 4px, #bab86c 4px, #bab86c 9px, #fff 9px, #fff 11px, #bab86c 11px, #bab86c 16px, #fff 16px, #fff 18px, #bab86c 18px, #bab86c 22px);
    background-size: 10px 20px;
}


 
 
.adicionaParagrafo {
    font-size: 14px;
    color: #ff0000;
}

.teste {
    
          height: 50px !important; 
                overflow-y: auto !important;;
                width: 100% !important;;
            }

.abas nav li a:focus {
    background-color: #286090 !important;
}      


table.dataTable tbody td {
  padding: 1px 8px !important;; 
}


firstq {
    margin-top: 20px;
    margin: auto;
    padding: 10px;
    height: 200px;
    width: 690px;
    border: 2px solid black;
}

#barra {
    position: absolute;
left: 21%;
bottom: 10%;
}

.bordas {
 border-style: outset; 
 border-width: 2px 
}

.bordas2 {
 border-style: inset; 
 border-width: 2px 
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td { 
    padding: 3px !important;
}   

.tab-abas {
    color:#000
}


.select{
    height: 25px;
}


.dropdown-menu > a:hover{
    
    color: white;
    
}